/* Icon 1 */
@media (max-width: 768px) {
  #nav-hamburger-open {
    width: 40px;
    height: 25px;
    position: relative;
    margin: 0;
    outline: none;
  }

  #nav-hamburger-open span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: var(--color-gray-700);
    border-radius: 9px;
    opacity: 1;
    left: 0;
  }

  #nav-hamburger-open span:nth-child(1) {
    top: 0px;
  }

  #nav-hamburger-open span:nth-child(2) {
    top: 10px;
  }

  #nav-hamburger-open span:nth-child(3) {
    top: 20px;
  }
  #nav-hamburger-close {
    width: 40px;
    height: 25px;
    position: absolute;
    margin: 0;
    right: 2rem;
    top: 3rem;
    outline: none;
    cursor: pointer;
  }
  #nav-hamburger-close span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: var(--color-gray-700);
    border-radius: 9px;
    opacity: 1;
    left: 0;
  }
  #nav-hamburger-close span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  #nav-hamburger-close span:nth-child(2) {
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  body.menuClosed aside.aside {
    display: block;
    position: absolute;
    max-width: 80%;
    left: -80%;
    width: 80%;
    z-index: 1;
    transition: left 0.25s ease-in-out;
  }
  body.menuOpened aside.aside {
    display: block;
    position: absolute;
    max-width: 80%;
    width: 80%;
    left: 0;
    transition: left 0.25s ease-in-out;
    z-index: 1;
  }
  body aside.aside {
    height: 100%;
  }
  body.menuClosed .clickOutside {
    display: block;
    position: absolute;
    max-width: 20%;
    right: -20%;
    width: 20%;
    z-index: 1;
    transition: right 0.25s ease-in-out;
  }
  body.menuOpened .clickOutside {
    display: block;
    position: absolute;
    max-width: 20%;
    right: 0;
    width: 20%;
    transition: right 0.25s ease-in-out;
    z-index: 1;
  }
  body .clickOutside {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
  }
}
